body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  text-align: center;
}

header {
  background-color: #0078d4;
  color: white;
  padding: 20px 0;
}

main {
  padding: 20px;
}

button {
  background-color: #0078d4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #005fa3;
}

#stream-video {
  width: 80%;
  max-width: 800px;
  border: 2px solid #0078d4;
  border-radius: 10px;
  margin-top: 20px;
}

footer {
  margin-top: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  font-size: 12px;
  color: #777;
}